In [ ]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('postgres://DSI8:p3c1341f0f241ef04befd0f0b3acc0365eb30839b9408f9a9b3278d96966f34b8@ec2-34-202-213-35.compute-1.amazonaws.com:5432/dc5rooirs71hh0')

# `SELECT` and `FROM`
---

SQL is used to pull specific data from a database. The two primary clauses that must be present in every query are `SELECT`, and `FROM`.

- `SELECT` allows you to select a subset of columns from a table
- `FROM`: Since there are often many tables in a database, it's important to specify which table you're querying. 

```SQL
-- Returns all columns from the users table
SELECT * 
FROM users;
```

**Challenge: Show me all the columns from the `restaurants` table.**

<details>
    <summary>ERD</summary>
    <img src="erd.png">
</details>

In [ ]:
sql = """

"""

df = pd.read_sql_query(sql, engine)
df.head()

We can also get a subset of the columns from a given table.

```SQL
-- Returns the name and salary columns from the users table
SELECT name, salary
FROM users;
```


**Challenge: Show me the `name` and `calories` columns from the `foods` table**

<details>
    <summary>ERD</summary>
    <img src="erd.png">
</details>

In [ ]:
sql = """

"""

df = pd.read_sql_query(sql, engine)
df.head()

**Challenge: Give me the names of all the categories**

<details>
    <summary>ERD</summary>
    <img src="erd.png">
</details>

In [ ]:
sql = """

"""

df = pd.read_sql_query(sql, engine)
df.head()

# Namespacing
---

Sometimes you see the columns prefixed by their corresponding table. This is overkill when youâ€™re just querying, one table, but becomes important once you query from multiple tables.
```SQL
SELECT users.name, users.salary 
FROM users;
```

**Challenge: Show me the `name` and `calories` columns from the `foods` table**

<details>
    <summary>ERD</summary>
    <img src="erd.png">
</details>

In [ ]:
sql = """

"""

df = pd.read_sql_query(sql, engine)
df.head()

**Challenge: Give me the names of all the `categories` using namespacing.**
<details>
    <summary>ERD</summary>
    <img src="erd.png">
</details>

In [ ]:
sql = """

"""

df = pd.read_sql_query(sql, engine)
df.head()

You can also namespace a wildcard.
```SQL
SELECT users.* 
FROM users;
```

**Challenge: Give me every column from the `foods` table. Use namespacing.**

<details>
    <summary>ERD</summary>
    <img src="erd.png">
</details>

In [ ]:
sql = """

"""

df = pd.read_sql_query(sql, engine)
df.head()

# Aliasing
---

Writing out the same table can get pretty cumbersome. Thankfully we can give our tables a _temporary_ (and hopefully shorter) name. This is called aliasing.

```SQL
SELECT u.name, u.salary 
FROM users AS u;
```

**Challenge: Query the `name` and `calories` columns from the `foods` table, and rename the `foods` table to `f`**

<details>
    <summary>ERD</summary>
    <img src="erd.png">
</details>

In [ ]:
sql = """

"""

df = pd.read_sql_query(sql, engine)
df.head()

**Challenge: Give me the names of all the `restaurants`, and alias the table**

<details>
    <summary>ERD</summary>
    <img src="erd.png">
</details>

In [ ]:
sql = """

"""

df = pd.read_sql_query(sql, engine)
df.head()

Recall that the `foods`, `restaurants` and `categories` tables all have a `name` column. When we start combining tables into a single query, we might want to give each name column an alias as well.
```SQL
-- Returns the name column from users table. "name" is renamed to "user"
SELECT u.name AS user
FROM users AS u;
```

**Show me the `name` (temporarily renamed to `food`) and `calories` columns from the `foods` table**

<details>
    <summary>ERD</summary>
    <img src="erd.png">
</details>

In [ ]:
sql = """

"""

df = pd.read_sql_query(sql, engine)
df.head()

**Challenge: Give me all the category names, rename the `name` column to `category`**
<details>
    <summary>ERD</summary>
    <img src="erd.png">
</details>

In [ ]:
sql = """

"""

df = pd.read_sql_query(sql, engine)
df.head()

# `DISTINCT`
---

`DISTINCT` returns a list of **unique** values from a given column:
```SQL
-- Returns the unique universities represented by all the users
SELECT DISTINCT u.university
FROM users u;
```

**Show me the unique names (renamed to `food`) from the `foods` table.**

<details>
    <summary>ERD</summary>
    <img src="erd.png">
</details>

In [ ]:
sql = """

"""

df = pd.read_sql_query(sql, engine)
df.head()

**Challenge: From the `foods` table, query the unique values from the `restaurant_id` column**

<details>
    <summary>ERD</summary>
    <img src="erd.png">
</details>

In [ ]:
sql = """

"""

df = pd.read_sql_query(sql, engine)
df.head()

# `ORDER BY`
---

Sometimes it makes sense to order your query on a certain column. For example, we might want to get a list of users sorted alphabetically:
```SQL
SELECT users.name
FROM users
ORDER BY users.name ASC;
```

**Show me the `name` (temporarily renamed to `food`) and `calories` columns from the `foods` table, ordered from most caloric to least**

<details>
    <summary>ERD</summary>
    <img src="erd.png">
</details>

In [ ]:
sql = """

"""

df = pd.read_sql_query(sql, engine)
df.head()

**Give me all the `categories` in reverse alphabetical order.**

<details>
    <summary>ERD</summary>
    <img src="erd.png">
</details>

In [ ]:
sql = """

"""

df = pd.read_sql_query(sql, engine)
df.head()

**Retrieve all the columns from `foods`, from most `carbs` to least**

<details>
    <summary>ERD</summary>
    <img src="erd.png">
</details>

In [ ]:
sql = """

"""

df = pd.read_sql_query(sql, engine)
df.head()

**What food has the most fat?**

<details>
    <summary>ERD</summary>
    <img src="erd.png">
</details>

In [ ]:
sql = """

"""

df = pd.read_sql_query(sql, engine)
df.head()

You can order on multiple columns. Priority is given from left to right in your `ORDER BY` clause.

```SQL
-- Returns users from oldest to youngest. If they have the same age, they will then be sorted alphabetically
SELECT u.name, u.age
FROM users u
ORDER BY u.age DESC, u.name ASC
```

**Give me the `restaurant_id` (renamed to `rid`), `name` and `calories` from `foods`. Order first by `restaurant_id` from smallest to biggest, then by `calories` from biggest to smallest**

<details>
    <summary>ERD</summary>
    <img src="erd.png">
</details>

In [ ]:
sql = """

"""

df = pd.read_sql_query(sql, engine)
df.head()

**Give me the `calories` and `name` from the `foods` table. Ordered first by `calories` in descending order, then by `name` in alphabetical order**

<details>
    <summary>ERD</summary>
    <img src="erd.png">
</details>

In [ ]:
sql = """

"""

df = pd.read_sql_query(sql, engine)
df.head()

# `LIMIT`
---

Rather than returning ALL rows from a given table, you might only want a subset. This can be achieved with the `LIMIT` command.

```SQL
-- Returns the top ten highest paid users
SELECT users.name, users.salary
FROM users
ORDER BY users.salary DESC
LIMIT 10
```

**Give me the `name` and `calories` of the 20 most caloric items from the `foods` table.**

<details>
    <summary>ERD</summary>
    <img src="erd.png">
</details>

In [ ]:
sql = """

"""

df = pd.read_sql_query(sql, engine)
df.head()

**What are the top ten most fatty foods?**

<details>
    <summary>ERD</summary>
    <img src="erd.png">
</details>

In [ ]:
sql = """

"""

df = pd.read_sql_query(sql, engine)
df.head()

# `WHERE`
---

One of the more important skills in SQL is the ability to filter your queries based a certain condition. This is accomplished with the `WHERE` command.

```SQL
-- Returns all users who make less than $30k
SELECT users.*
FROM users
WHERE users.salary < 30000
```

Numerical filters are similar to python:
- Greater than: `>`
- Greater than or equal to: `>=`
- Less than: `<`
- Less than or equal to: `<=`
- Equal to: `=`

**Give me the `name` and `calories` of `foods` with more than 1,000 calories.**

<details>
    <summary>ERD</summary>
    <img src="erd.png">
</details>

In [ ]:
sql = """

"""

df = pd.read_sql_query(sql, engine)
df.head()

**What are the top 10 least caloric foods over 100 calories?**

<details>
    <summary>ERD</summary>
    <img src="erd.png">
</details>

In [ ]:
sql = """

"""

df = pd.read_sql_query(sql, engine)
df.head()

# `AND`/`OR`
---

Multiple `WHERE` clauses can be chained together with `AND` and `OR`, similar to chaining multiple boolean expressions in Python.

```SQL
-- Returns all users under the age of 30 who are making more than $100k
SELECT users.*
FROM users
WHERE users.age < 30
AND users.salary > 100000
```

**Give me the `name`, `calories` and `carbs` from all `foods` over 1,000 calories or having _at least_ 30g of carbs.**

<details>
    <summary>ERD</summary>
    <img src="erd.png">
</details>

In [ ]:
sql = """

"""

df = pd.read_sql_query(sql, engine)
df.head()

**Give me all foods from Jimmy Johns (`restaurant_id` = 27) with 700 or more calories**

<details>
    <summary>ERD</summary>
    <img src="erd.png">
</details>

In [ ]:
sql = """

"""

df = pd.read_sql_query(sql, engine)
df.head()

# `BETWEEN`
---

You can also filter numerically based on a range with `BETWEEN`.

```SQL
-- Returns all users between 18 and 25 years old (inclusive)
SELECT users.*
FROM users
WHERE users.age BETWEEN 18 AND 25
```

**Give me the `name` and `calories` of `foods` that are between 0 and 10 calories (inclusive)**

<details>
    <summary>ERD</summary>
    <img src="erd.png">
</details>

In [ ]:
sql = """

"""

df = pd.read_sql_query(sql, engine)
df.head()

# Filtering on String Values
---

When filtering on a string value, use single quotes:

```SQL
SELECT users.*
FROM users
WHERE users.role = 'admin'
```

**Find McDonald's from the `restaurants` table. NOTE: Apostrophes are represented with two single quotes ('')**

<details>
    <summary>ERD</summary>
    <img src="erd.png">
</details>

In [ ]:
sql = """

"""

df = pd.read_sql_query(sql, engine)
df.head()

# Wildcards
---

We can use `LIKE` and wildcards (%) to broaden our string filters:

```SQL
-- Returns all users whose name begins with a capital "R"
SELECT users.*
FROM users
WHERE users.name LIKE 'R%'
```

```SQL
-- Returns all users whose name ends with a capital "R"
SELECT users.*
FROM users
WHERE users.name LIKE '%R'
```

```SQL
-- Returns all users with a capital "R" somewhere in the name
SELECT users.*
FROM users
WHERE users.name LIKE '%R%'
```

Notes:
- `ILIKE` is a case insensitive `LIKE`. 
- You can negate a `LIKE` with `NOT LIKE`.
- _In this lecture, all wildcards need to be double parentheses_ (`%%`).

**Find all the Whoppers in the `foods` table.**

<details>
    <summary>ERD</summary>
    <img src="erd.png">
</details>

In [ ]:
sql = """

"""

df = pd.read_sql_query(sql, engine)
df.head()

# Null values
---

Databases can have null values (our equivalent to `NaN`'s). You can filter them like so:

```SQL
-- Returns all users with no name
SELECT users.*
FROM users
WHERE users.name IS NULL
```

```SQL
-- Returns all users with a value for their name
SELECT users.*
FROM users
WHERE users.name IS NOT NULL
```

**Give me everything from the foods table with null values in the `calories` column.**


<details>
    <summary>ERD</summary>
    <img src="erd.png">
</details>

In [ ]:
sql = """

"""

df = pd.read_sql_query(sql, engine)
df.head()

# Joining Tables
---

It's very common to want to combine information from multiple tables into one query. 

For example, we might want to find the user's name for a given blog post. We can do this by joining. 

```SQL
-- Returns all blog posts with the associated user name. 
-- A user has many posts, and a post belongs to a user. Therefore the foreign key (user_id)
-- is on the child table: posts.
SELECT posts.*, users.name
FROM posts
INNER JOIN users ON users.id = posts.user_id
```

There are several types of joins:
- Inner join
- Left/Right join
- Left/Right outer join
- Unions

NOTE: The most common join is the inner join.

**Give me the names of every food item with their associated restaurant. Be sure to alias the columns.**

<details>
    <summary>ERD</summary>
    <img src="erd.png">
</details>

In [ ]:
sql = """

"""

df = pd.read_sql_query(sql, engine)
df.head()

**Give me the names of every food item from Burger King.**

<details>
    <summary>ERD</summary>
    <img src="erd.png">
</details>

In [ ]:
sql = """

"""

df = pd.read_sql_query(sql, engine)
df.head()

**Give me the names of every food item with their associated category.**

<details>
    <summary>ERD</summary>
    <img src="erd.png">
</details>

In [ ]:
sql = """

"""

df = pd.read_sql_query(sql, engine)
df.head()

**Give me the `name`, `restaurant`, `category` and `calories` of every food item. Sorted alphabetically by `restaurant`, then by `calories` in descending order.**

<details>
    <summary>ERD</summary>
    <img src="erd.png">
</details>

In [ ]:
sql = """

"""

df = pd.read_sql_query(sql, engine)
df.head()

**Give me the names of every food item in the Desserts category.**

<details>
    <summary>ERD</summary>
    <img src="erd.png">
</details>

In [ ]:
sql = """

"""

df = pd.read_sql_query(sql, engine)
df.head()

**Give me the `name`, `restaurant` and `calories` of the top ten most caloric "Kid's Meals" (this is a category)**

<details>
    <summary>ERD</summary>
    <img src="erd.png">
</details>

In [ ]:
sql = """

"""

df = pd.read_sql_query(sql, engine)
df.head()

# Aggregating
---

Sometimes we might want to reduce our query to a single value. For example, we may want to know how many users our in our database:

```SQL
SELECT COUNT(users.id)
FROM users
```

The `COUNT` in the previous query is an aggregate function. The most common aggregate functions are:

- `COUNT`
- `AVG`
- `MIN`
- `MAX`
- `SUM`

**What total number of calories in the entire `foods` table?**

<details>
    <summary>ERD</summary>
    <img src="erd.png">
</details>

In [ ]:
sql = """

"""

df = pd.read_sql_query(sql, engine)
df.head()

# `GROUP BY`
---

Often weâ€™ll want to group our data into buckets and then run some sort of aggregate function. 

```SQL
-- Returns how much each user spends on average
SELECT users.id, AVG(payments.amount)
FROM users
INNER JOIN payments ON payments.user_id = user.id
GROUP BY users.id;
```

NOTE: Every column you're returning that isn't being aggregated needs to be in the `GROUP BY` clause:

```SQL
-- Returns how much each user spends on average
SELECT users.id, users.name, AVG(payments.amount)
FROM users
INNER JOIN payments ON payments.user_id = user.id
GROUP BY users.id, users.name
```

**Return the average number of calories for each restaurant, sorted alphabetically**

<details>
    <summary>ERD</summary>
    <img src="erd.png">
</details>

In [ ]:
sql = """

"""

df = pd.read_sql_query(sql, engine)
df.head()

# `HAVING`
---

Sometimes you might want to use the result of an aggregate function as a filter. We can do this with `HAVING`, which is similar to `WHERE` but for aggregates:

```SQL
-- Returns the users who average more than $1,000 per purchase
SELECT users.id, users.name, AVG(payments.amount)
FROM users
INNER JOIN payments ON payments.user_id = users.id
GROUP BY users.id, users.name
HAVING AVG(payments.amount) > 1000;
```

**Give me the `name` and average `calories` for all `restaurants` with more than 700 calories per menu item on average.**

<details>
    <summary>ERD</summary>
    <img src="erd.png">
</details>

In [ ]:
sql = """

"""

df = pd.read_sql_query(sql, engine)
df.head()

**What `categories` average more than 750 `calories` per item? Order your results from most caloric to least.**

<details>
    <summary>ERD</summary>
    <img src="erd.png">
</details>

In [ ]:
sql = """

"""

df = pd.read_sql_query(sql, engine)
df.head()